@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    font-size: 16px;
    background-color: #009688;
    /*font-family: 'Montserrat', sans-serif;*/
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box.hide{
    display: none;
}

.custom-box::before,
.custom-box::after{
    content: "";
    clear: both;
    display: table;
}



.custom-box{
    max-width: 700px;
    background-color: #ffffff;
    margin: 40px auto;
    padding:30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight{
    0%{
        transform: translateY(40px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.home-box h3{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p{
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 22px
}

.home-box span{
    font-weight: 500;
}

.home-box .btn{
    margin-top: 20px;

}

.btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
    width:100%;
    float: left;
}
.quiz-box .question-number{

    font-size: 18px;
    color: #009688;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;

}

.quiz-box .question-text{
    font-size: 22px;
    color: #000000;
    line-height: 28px;
    font-weight: 400px;
    padding: 20px 0;
    margin: 0;


}

.quiz-box .question-text img{
    max-width: 100%;
    display: block;
    margin-top: 15px;


}

.quiz-box .option-container .option.already-answered{
    pointer-events: none;

}


.quiz-box .option-container .option{
    background-color: #cccccc;
    padding:13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;

}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
.quiz-box .option-container .option.correct{
    color: #ffffff;

}

@keyframes slideInLeft {
    0%{
        transform: translateX(-100%) ;
    }

    100%{
        transform: translateX(0%);
    }

    
}

.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong{
    color: #ffffff;

}


.quiz-box .btn{
    margin: 15px 0;
}
/*
.quiz-box .answers-indicator{
    border-top: 1px solid #cccccc;
}
.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px ;
    margin-top: 15px;

}

.quiz-box .answers-indicator div.correct{
    background-color: green;
    background-image: url(/roadTest/resources/correct.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}
.quiz-box .answers-indicator div.wrong{
    background-color: red;
    background-image: url(/roadTest/resources/wrong.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

    */

.result-box{
    text-align: center;
}
.result-box.hide{
    display: none;
}

.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #009688;
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;

}
.result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 18px;
    
}

*{
    font-family:  'Open Sans', sans-serif;;
}
a{
    text-decoration: none;
    
}

.navbar{
    background-color: white;
}

.navbar a{
  font-size: 20px;
}

.test a{
    color: black;
   
}

.test a:hover{
    font-size: 20px;
    transition: all .5s;
    
}



.banner{
    background-image: url(/roadTest/resources/pexels-shy-sol-102094.jpg);
    background-size: cover;
    color: azure;
}

.banner a{
    color: white;
}

.explore a{
   background-color: white;
   color: black;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 2rem;
   padding-right: 2rem;
   font-weight: 600;
   
}

.explore a:hover{
    
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    transition: all  .5s ;
    background-color: rgba(255, 166, 0, 0.637);
}


.question {
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .question {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  p {
    font-weight: bold;
  }
  
  label {
    margin-right: 10px;
  }
  

  button:hover {
    background-color: #0062cc;
  }
  
  

  .quizForm input{
    margin-top: 1rem;
  }

  

/*===================== FOOTER ======================*/
/*
.site-footer
{
  background-color:#d4d4d4;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#424242;
}
.site-footer hr
{
  border-top-color:#ffffff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#424242;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
*/



.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#424242;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#9bbcff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#ffffff
}
.copyright-text
{
  margin:0
}
.footer-links-head h6{
  color: #000000;
  font-weight: 600;
}



@media only screen and (max-width: 600px) {

  .navbar a{
  font-size: 15px;
}


  .banner h2 {
    color: #000000;
    display: none;
    

   
  }

  .banner h1{
    text-transform: uppercase;
    padding-top: 30%;
    font-size: 40px;
    font-weight: 800;
    color: #fffbfb;
  }

 
  
  .test{
    display: none;
  }
  .footer-links-head{
    width: 200px;

  }
  .social-icons{
    text-align: center;
  }
}

/*
@media (max-width:991px)
{
  .site-footer [class=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
*/

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* =============================== HELP TABLE =========================*/


.roadTestTable tr,th,td {
  border: solid #000000 2px;
  text-align: center;
  
}

.roadTestTable ul{
  list-style-type: none;

}

.help{
  margin-bottom: 2rem;
  padding-left: 3rem;
}



/*===================== Info sec ======================*/

/**
 * Tabs
 */
 .tabs {
	display: flex;
	flex-wrap: wrap; 
}
.tabs label {
	order: 1;
	display: block;
	padding: 1rem 5px;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #90CAF9;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; 
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 5px;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

.tabs table td,tr,th{
  padding: 5px;
}

/*
@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

*/

/**
 * Generic Styling

body {
  background: #eee;
  min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
}
*/


.practiceTest{
  margin-bottom: 1rem;
}

